* {
    user-select: none;
}

.centered-page-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75vh;
}

#counter-display{
    font-size: 250px;
}